.first,
.second {
  margin-left: 46%;
}
.second {
  margin-top: 9px;
}
.pauseBtn {
  color: red;
}
body {
  background-color: black;
  color: white;
}
img {
  width: 30em;
  margin-left: 29%;
}
#btn {
  font-size: 35px;
  margin-top: 0.5%;
}
i {
  font-size: 35px;
}
#bio {
  font-size: 1em;
  color: white;
  margin-left: 27em;
}
#contact {
  text-align: right;
}
#me {
  color: white;
  text-decoration: none;
}
#lin {
  color: white;
  margin-left: 47.5%;
}
.description,
.lastLine {
  width: 30em;
  margin-left: 27em;
}
.lastLine {
  border: 1px solid white;
}

/* respponsive-ness */
@media screen and (max-width: 480px) and (min-width: 320px) {
  .first,
  .second {
    margin-left: 14em;
    width: 5em;
  }
  .second {
    margin-top: 5px;
  }
  #btn {
    margin-left: 4.9em;
  }
  img {
    margin-left: 0.8em;
  }
  #bio {
    color: aliceblue;
    margin-left: 14.5em;
  }
  .description {
    width: 20em;
    margin-left: 7.6em;
  }
  .lastLine {
    width: 20em;
    margin-left: 7.5em;
  }
  #me {
    margin-right: 1.8em;
  }
}
